{% extends 'base.html' %}

{% block main %}
    <main>
        <h2>
            Generacion de documentos
        </h2>

        <section>
            <h2>Datos de la plantilla</h2>
            <p>Nombre input: {{ datos[2] }}</p>
            <p>Nombre salida: {{ datos[0] }}</p>
            <p>Mensaje: {{ datos[1] }}</p>
        </section>

        <section>
            <p>Has cliz aqui en el siguiente enlace para descargar el archivo:</p>
            <a href="{{ url_for('descargar_archivo', nombre_archivo ='salida.docx') }}">Descargar Archivo</a>
        </section>

    </main>
{% endblock %}
